
/* Your CSS Code here. */

.item
{
  width:100px;
	height:100px;
	background:lightblue; 
	
}

 .holder 
{
/* 	background-color: #f1f1f1; */
/* /*   padding: 50px;
	width:100px;
	heigth:50px; */
  font-size: 20px; 
	display: flex;
	flex-wrap:wrap;
	 justify-content: space-between;
}  